{% extends "account.html.twig" %}
{% block title %} Registration {% endblock %}
{% block body %}
    <div class="container">
        <div class="col-md-8 col-md-offset-2 account-panel">
            <div class="panel panel-default">
                <div class="panel-heading">{{ 'Registration'|trans({}, 'FOSUserBundle') }}</div>
                <div class="panel-body">
                    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                        {% if not form.vars.valid %}
                            <div class="alert alert-error">
                                <div class="message">{{ form_errors(form) }}</div>
                            </div>
                        {% endif %}
                        {{ form_row(form._token) }}

                        <div class="form-group">
                            {{ form_label(form.username,'Username', {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-6">
                                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.username) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.email,'E-Mail address', {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-6">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.plainPassword.first,'Password', {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-6">
                                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.plainPassword.first) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.plainPassword.second,'Confirm Password', {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-6">
                                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.plainPassword.second) }}
                            </div>
                        </div>
                        <div>
                            <input type="submit" value="{{ 'Register'|trans({}, 'FOSUserBundle') }}" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}